body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: var(--body-font-size, 14px);
    line-height: 1.5;
}

.account-form {
    max-width: 340px;
    margin: 0 auto;
    padding: 10px;
}

.account-form-header h1 {
    font-size: 24px;
    font-weight: var(--base-text-weight-light, 300);
    letter-spacing: -0.5px;
}

.account-form-body {
    padding: 20px;
    border: 1px solid #d8dee4;
    border-radius: 6px;
    background-color: #f6f8fa;

    font-size: 14px;
}

.account-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    text-align: left;
}

.input-block {
    display: block;
    width: 100%;
    margin-top: 4px;
    /* margin-bottom: 16px; */
}

.form-link {
    color: #0969da;
    text-decoration: none;
}

.form-link:hover {
    color: #0a58ca;
    text-decoration: underline;
}

.label-link {
    font-size: 12px;
}

#register-form label::after {
    content: "*";
    color: rgb(187, 0, 0);
}

#header-logo {
    aspect-ratio: 1/1;
    width: 9em;
    padding: 25px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    overflow: visible;
}
